.form_control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 60%;
}

.form_control label {
  font-weight: bold;
}

.form_control input {
  padding: 0.6rem 0.6rem 0.2rem;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid black;
  background: var(--color-light);
}

.form_control input::placeholder {
  color: var(--color-light-contrast);
}
