.message {

  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  z-index: 3;
  right: 20%;
  left: 20%;
  top: 10%;
  border: 1px solid var(--color-dark);
}

.error {
  color: var(--color-not);
  background-color: #f8d7dade;
  border-color: #f5c6cb;
}

.success {
  color: var(--color-yes);
  background-color: #d4eddade;
  border-color: #C3e6cb;
}
