:root {
  --color-contrast: #ffbb33;
  --color-dark: #212121;
  --color-light: #efefef;
  --color-light-contrast: #4f4f4f;

  --color-infra: #a3001b;
  --color-dev: #155654;
  --color-design: #075a20;
  --color-plan: #965e03;
  --color-outros: #554b63;

  --color-not: #721c24;
  --color-yes: #155624;

  --font-family: 'Open Sans', sans-serif;
}
