:root {
  --color-contrast: #ffbb33;
  --color-dark: #212121;
  --color-light: #efefef;
  --color-light-contrast: #4F4F4F;

  --color-infra: #A3001B;
  --color-dev: #155654;
  --color-design: #075A20;
  --color-plan: #965E03;
  --color-outros: #554B63;

  --color-not: #721c24;
  --color-yes: #155624;

  --font-family: 'Open Sans', sans-serif;
}