.container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  flex-flow: wrap;
  gap: 1rem;

}

.grow {
  flex-grow: 1;
}

.start {
  justify-content: flex-start;
}

.column {
  justify-content: flex-start;
  flex-direction: column;
}