* {
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: inherit;
}

html, body, #root {
  background: var(--color-light);
  height: 100%;
}

li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
}